<div id=''class=''style=''>

  <!-- DESKTOP -->
  <div id='deskMain'class='hidden-sm hidden-xs col-md-12 col-lg-12'style='border:1px solid black;'>
            <div id='deskMainTextBox'class='col-md-5'style=''>
                <div id='deskInnerTopBox'class='col-md-10 col-md-offset-4'style=''>
                
                
                </div>
                <div id='deskInnerBottomBox'class='col-md-7 col-md-offset-4'style=''>
                
                
                </div>
            
            </div>
            <div id='deskMainPicBox'class='col-md-7'style=''>
            
            
            </div>
            
  </div>

  <!-- MOBILE -->
  <div id='mobileMain'class='hidden-md hidden-lg'style=''>
  
  
  </div>


</div>