<div id=''class=''style=''>

	<!-- DESKTOP -->
	<div id='deskPackDetail'class='hidden-sm hidden-xs col-md-12 col-lg-12'style='color:white;'>
			<div id='innerDeskPackDetail'class='col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1'style=''>
				 <div id='innerDeskPackMap'class='col-md-5 col-lg-5'style=''>
				 	
				 
				 </div>
				 <div id='innerDeskPackDetailTextOne'class='col-md-5 col-md-offset-1 col-lg-5 col-md-offset-1'style=''>
				 	<div id='innerDeskText'class='col-md-12 col-lg-12'style='font-size:3.50em;'>
				 	 {{pack.title}}
				 	
				 	</div>
				 
				 </div>
				<div id='innerDeskPackDetailTextOne'class='col-md-5 col-lg-5'style=''>
				 	<div id='innerDeskText'class='col-md-12 col-lg-12'style=''>
				 	 {{pack}}
				 	
				 	</div>
				 
				 </div>
				 <div id='innerDeskPackMap'class='col-md-5 col-md-offset-1 col-lg-5 col-md-offset-1'style=''>
				 	
				 
				 </div>
				  <div id='innerLongPic'class='col-md-12 col-lg-12'style=''>
				  	<div id='innerDeskPackPicBack'class='col-md-6 col-lg-6'style='background:url({{pack.imageTwo}})no-repeat; background-size:cover;'>
				 	
				 
				 </div>
				  <div id='innerDeskPackPicBack'class='col-md-6 col-lg-6'style='background:url({{pack.imageThree}})no-repeat; background-size:cover;'>
				 	
				 
				 </div>
				  
				  </div>

			</div>
		
	</div>

	<!-- MOBILE -->
	<div id=''class='hidden-md hidden-lg'style=''>
	
	
	</div>


</div>